:root {
  --black: #333;
  --heading-font: "Arvo", Serif;
  --body-font: "Lato", Sans-Serif;
  --heading-ratio: 1.3;
  --base-font-size: 14px;
  --h4-font-size: calc(var(--base-font-size) * var(--heading-ratio));
  --h3-font-size: calc(var(--h4-font-size) * var(--heading-ratio));
  --h2-font-size: calc(var(--h3-font-size) * var(--heading-ratio));
  --h1-font-size: calc(var(--h2-font-size) * var(--heading-ratio));
}

* {
  color: var(--black);
  padding: 0;
  margin: 0;
  font-size: var(--body-font);
  font-family: var(--body-font);
  font-size: var(--base-font-size);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fefefe;
  background-image: radial-gradient(
    circle,
    #516286,
    #83619c,
    #c3548e,
    #ed515e,
    #ed7304
  );
}

article {
  padding: 5vh 10vw 0 10vw;
}

ul.social {
}

ul.social li {
  display: flex;
  align-items: center;
  margin: 10px;
  font-size: 2rem;
  margin-left: 0;
}

ul.social li a {
  font-size: var(--h3-font-size);
}

svg.icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  fill: var(--black);
}

h1.site-title {
  font-weight: 700;
}

.initial {
  font-family: "Ramaraja", serif;
  font-size: calc(var(--h1-font-size) * 1.4);
}

.initial:first-child {
  padding-right: 0.04em;
  font-size: calc(var(--h1-font-size) * 1.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  line-height: 2;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

p {
  margin-bottom: 1em;
}

ul li {
  font-size: var(--heading-font-size);
}

a {
  text-decoration: none;
  color: var(--black);
}
